<footer class="footer">
  <div class="footer-left col-md-4 col-sm-4 col-xs-12">
    <p class="about">
      <span> About the company</span>We are a set of Certified Professionals providing support for all kinds of Small or Big Businesses. We have efficient professionals who provide effective and timed result on every solution rquired. We serve Quality solutions for all Office related and IT solutions with the products at hand. 
    </p>
  </div>
  <div class="footer-center col-md-4 col-sm-4 col-xs-12">
    <div>
      <!-- <p>email:officetechhelp225@gmail.com</a></p> -->
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-4 col-xs-12">
    <h2> <span> Officetechhelp</span></h2>
    <p class="menu">
      <a style="cursor: pointer;" ui-sref="home.index" > Home</a> |
      <a style="cursor: pointer;" ui-sref="home.about" > About Us</a> |
      <a style="cursor: pointer;"  ui-sref="home.services({servicename :'terms & services'})"> Services</a> |
      <a style="cursor: pointer;" ui-sref="home.products({productname :'product'})""> Products</a> |
      <a style="cursor: pointer;" ui-sref="home.contact" > Contact Us</a>
    </p>
    <p class="name"> Officetechhelp &copy; 2017</p>
  </div>
</footer>